<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adq.adq" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".MainADQActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HotelsActivity"
            android:label="@string/title_activity_hotels" >
        </activity>
        <activity
            android:name=".AmigosActivity"
            android:label="@string/title_activity_amigos" >
        </activity>
        <activity
            android:name=".UtilsActivity"
            android:label="@string/utils_activity" >
        </activity>
    </application>

</manifest>
